/* Navbar styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-image {
    height: 60px; /* Set height to match Traveloka's logo */
    width: auto;  /* Maintain aspect ratio */
    margin-right: 20px; /* Optional: add space to the right for separation */
    margin-top: 20px;
}

.navItems {
    display: flex;
    gap: 10px;
}

.navButton {
    padding: 10px 20px;
    background-color: white;
    color: #003580;
    border: 2px solid #003580; /* Add a border for the outline */
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Optional transition effect */
}

.navButton:hover {
    background-color: #003580; /* Change background on hover */
    color: white; /* Change text color on hover */
}
