* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.review-body {
    font-size: 16px;
    margin-left: 430px;
    margin-bottom: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 950px;
    text-align: justify;
    color: black;
    margin-bottom: -15px; /* Adjust the value to control spacing */
}

.review-title {
    font-size: 48px; 
    color: #333; 
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center; /* This will center the text */
}

