/* Header styles */
.header {
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    position: relative;
}

.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 10px 0 50px 0; /* Adjusted margins */
}

.headerContainer.listMode {
    margin: 20px 0 0 0;
}

.headerList {
    display: flex;
    gap: 30px; /* Reduced gap */
    margin-bottom: 10px; /* Reduced margin */
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: white;
}

.headerListItem.active {
    border: 1px solid white;
    padding: 8px; /* Reduced padding */
    border-radius: 15px; /* Adjusted radius */
}

.headerTitle {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.headerDesc {
    margin: 20px 0;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.headerSearch {
    background-color: white;
    border: 3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 8px; /* Reduced padding */
    border-radius: 5px;
    position: absolute;
    bottom: -25px;
    width: 80%;
    max-width: 1024px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;
}

.headerIcon {
    color: lightgray;
}

.headerSearchItem:last-child .headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.options {
    display: none;
    z-index: 2;
    position: absolute;
    top: 50px;
    border-radius: 5px;
    background-color: white;
    color: gray;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    z-index: 1000; /* Để đảm bảo nó nằm trên các phần tử khác */
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}







