/* Header styles */
.header {
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
    position: relative;
}

/* HEADER CONTAINER  Only for hotel_index.html*/
.headerContainer {
    width: 100%;
    max-width: 1024px;
    margin: 10px 0 30px 0; /* Adjusted margins */
}

/* HEADER LIST  Only for hotel_list.html*/
.headerContainer_listMode {
    width: 100%;
    max-width: 1024px;
    margin: 0; /* Adjusted margins */
}

/* MENU */
.menu {  
    display: flex;  
    justify-content: center;
    align-items: center;  
    margin: 0;   
}  


.menu li {  
    margin: 0 10px; /* Giảm khoảng cách giữa các mục */  
    display: flex;  
    align-items: center;   
    padding: 10px 15px; /* Tăng padding để tạo khoảng cách giữa icon và chữ */  
    background-color: transparent; /* Màu nền mặc định */  
    border-radius: 5px; /* Bo góc */  
} 

.menu li.active {
    border: 1px solid #ffffff; /* Circle border */
    padding: 10px; 
    border-radius: 20px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.menu li.active div {
    display: flex; 
    align-items: center;
}

.menu li.other div {
    display: flex; 
    align-items: center; 
}

.menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.menu i {
    color: #fff; 
    margin-right: 5px; /* Space between icon and text */
}

.menu li:hover {
    background-color: #fff; 
    border-radius: 5px; 
}

.menu li:hover a {
    color: #003580; 
}

.menu li:hover i {
    color: #003580;
}

.headerTitle {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

.headerDesc {
    margin: 20px 0;
}

.headerBtn {
    background-color: #0071c2;
    color: white;
    font-weight: 500;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.headerBtn a {
    color: white;
    text-decoration: none;
}

.headerBtn:hover {
    background-color: #0073e6;
}

.headerSearch {
    background-color: white;
    border: 3px solid #febb02;
    display: flex;  /* easily arrange the child elements within the element */
    align-items: center;  /* Centering along the vertical axis  */
    justify-content: space-around;  /* Centering along the horizontal axis  */
    padding: 8px; 
    border-radius: 5px;  
    position: absolute;  /* The element will not affect the layout of other elements and can move freely within the positioning area. */
    bottom: -25px;
    width: 80%;
    max-width: 1024px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/*
gap : The space between child elements in a container.
padding : The space between the container and its border.
margin : The space between the container and its parent.
*/

.headerSearchItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput {
    border: none;
    outline: none;
}

.headerSearchText {
    color: lightgray;
    cursor: pointer;  /* The cursor property specifies the mouse cursor to display when it is over an element. */
}

.headerIcon {
    color: lightgray;
}

.options {
    display: none;
    z-index: 2;   /* When click Optipns it will be positioned above image*/
    position: absolute;
    top: 50px;
    border-radius: 5px;
    background-color: white;
    color: gray;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.optionItem {
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}







