/*for background of banner part*/
.banner {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(#003580, #3ABEF9);
}

/*contain the content of banner*/
.bannerContainer {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bannerContent {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    color: white;
}

.bannerContent img {
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);

}
/*Text style for header*/
.bannerContentTx {
    font-size: 20px;
    text-align: justify;
}








