/* Header styles */

#grad {
    background-image: linear-gradient(#003580, #3ABEF9);;
}

.banner {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
    justify-content: center;
    width: 100%;
}

.bannerContainer {
    max-width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bannerList {
    flex: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    color: white;
}

.bannerList img {
    width: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);

}
/*Text style for header*/
.bannerListTx {
    font-size: 20px;
    text-align: justify;
}


/*Search Container*/
.bannerSearch{
    display: flex;
    position: absolute;
    bottom: -25px;
    width: 80%;
    max-width: 1024px;
    align-items: center; /*center items along vertical axis*/
}

/*icon search*/
.bannerSearch i{
    color: black;
    position: absolute;
    padding-left: 10px;
}

/*Input for search box*/
.bannerSearch input {
    padding-left: 30px;
    width: 100%;
    height: 40px;
    background-color: white;
    border: 3px solid #febb02;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}








