header {
    width: 100%;
    background-color: #003580;
    position: fixed; /*always stay in the same place even if page scrolled*/
    z-index: 2; /*set stack order of an element*/
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.navContainer {
    width: 100%;
    max-width: 1200px;
    color: white;
    display: flex;
}

.navContainer a {
    text-decoration: none;
}

.logo {
    font-weight: 500;
    font-size: 24px;
}

/*Display the button to login and register*/
.navButton button{
    border: none;  
    cursor: pointer; 
    border-radius: 5px; 
    padding: 5px 15px 5px 15px;
}

.navButton button:hover {
    background-color: #0073e6;
    color: white;
}

/*Navigation menu link to another page*/
.navMenu {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: white;
}

/*mark the page where the user is at*/
.navMenu.active {
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
}