.header {
    background-color: #003580;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0; 
    position: relative;
}

.header .container {
    width: 100%;
    max-width: 1024px;
    margin: 10px 0; 
    display: flex;
    gap: 40px; 
}

.header .container .item {
    display: flex;
    align-items: center;
    gap: 10px; 
    cursor: pointer; /* Clickable */
    color: white;
}

.header .container .item.active {
    border: 1px solid white;
    padding: 8px; 
    border-radius: 10px;
    cursor: default
}
