body {
    font-family: 'Poppins', sans-serif;
}

main {
    padding-top: 125px;
    display: flex;
    flex-direction: column;
}

.banner {
    position: relative;
    overflow: hidden;
}

/* Background */
.banner img {
    width: 100%;
    height: auto;
    z-index: -1;
    position: relative;
}

.banner .text {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* To put the textbox in the middle of the banner */

    color: white;
    text-shadow: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner .text h1 {
    margin: 0;
    font-size: 72px;
    text-shadow:
            5px 5px 4px rgba(0, 0, 0, 0.5),
            -5px 5px 4px rgba(0, 0, 0, 0.5),
            5px -5px 4px rgba(0, 0, 0, 0.5),
            -5px -5px 4px rgba(0, 0, 0, 0.5);
}

.banner .text p {
    font-size: 24px;
    text-shadow:
            1px 1px 4px rgba(0, 0, 0, 0.5),
            -1px 1px 4px rgba(0, 0, 0, 0.5),
            1px -1px 4px rgba(0, 0, 0, 0.5),
            -1px -1px 4px rgba(0, 0, 0, 0.5);
}

.banner .triangle {
    position: absolute;
    bottom: 4px;
    right: 0;
    width: 0;
    height: 0;
    border-left: 400px solid transparent;   /* Width */
    border-top: 90px solid transparent;     /* Height */
    border-bottom: 100px solid #3ABEF980;   /* #3ABEF9 with 50% transparency */
}

.banner .triangle-text {
    position: absolute;
    bottom: 30px;
    right: 50px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.box {
    position: relative;
    height: 150px;
    width: 70%;
    margin: 20px 15%;
    background: #FAFAFA;
    display: flex;
    align-items: center;
}

.box.left {
    justify-items: left;
}

.box.right {
    justify-items: right;
}

.box:hover {
    box-shadow: 10px 10px 10px #565656;
    cursor: pointer;
    /*transform: scale(105%);*/
    transition: all 150ms linear, transform 300ms;
    text-decoration: none;
}

.box .img-frame {
    height: 100%; /* 150px */
    width: calc(150px*16/9); /* For a 16:9 ratio. Default */
    flex-shrink: 0;
    overflow: hidden;
}
/*Allow resizing images without stretching (cropping)*/

.box.ratio-4-3 {
    height:200px;
}

.box.ratio-4-3 .img-frame {
    width: calc(200px*4/3); /* For a 16:9 ratio */
}

/*.box .img-frame .ratio-1-1 {*/
/*    width: 150px; !* For a 1:1 ratio *!*/
/*}*/

.box .img-frame img {
    max-height: 100%;
}

.box .text {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    color: black;
    text-align: justify;
}

.box.left .text {
    text-align-last: left;
}

.box.right .text {
    text-align-last: right;
}

.box .text h1 {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    white-space: nowrap;
}

.box.right .text h1 {
    right: 289px; /* 269px (width of image) + 20px for padding */
}

.box:hover .text h1 {
    position: relative;
    transform: initial;
    padding: 0;
    margin: 0;
    top: initial;
    right: initial;
    transition: transform 0s;
}

.box .text p {
    opacity: 0;
    padding: 0;
    margin-top: 0;
}

.box:hover .text p {
    opacity: 1;
    transition: 150ms;
}

.mid-page-text {
    font-size: 24px;
    text-align: center;
    margin-top: 30px;
    color: #3572EF;
    font-weight: bold;
    line-height: 1.25;
}

.mid-page-container {
    display:flex;
    justify-content: center;
}

.mid-page-button {
    border: 4px solid #3572EF;
    border-radius: 50px;
    margin: 20px 0 100px;
    color: #3572EF;
    font-size: 24px;
    padding: 10px;
    width: fit-content;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .box {
        height: 180px;
        width: 90%;
        margin: 20px 5%;
    }
    .banner .text h1 {
        font-size:50px;
    }
    .banner .text p {
        font-size: 18px;
    }
}